Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Content/

**/.vs/


*.ipch
.vs/
.vs
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspaceContent/StarterContent

Content/Infinit*
Content/__Extern*
Content/AnimalVariety*
Content/NHC*
Content/Potion*
Content/Ancient*
